<br />
<h2>Create a Restaurant</h2>
<br />
<form method="post">
    Name: <input class="form-control" name="name" /><br />
    Password: <input class="form-control" name="password" />
    Address: <input class="form-control" name="address" />
    Phone: <input class="form-control" name="phone" />
    Email: <input class="form-control" name="email" />
    <br />
    <input type="submit" class="btn btn-primary" name="submit" value="Register">
</form>
