<h2>Edit Employee</h2>
<form method="post">
    Name: <input class="form-control" name="name" value="@Model.name" />
    Phone: <input class="form-control" name="phone" value="@Model.phone" />
    Email: <input class="form-control" name="email" value="@Model.email"/>
    <br />
    <input type="submit" class="btn btn-primary" name="submit" value="Register">
</form>

