<br />
<h2>Edit a Food</h2>
<br />
<form method="post">
    Name: <input class="form-control" name="status" value="@Model.status" /><br />
    <br />
    <input type="submit" class="btn btn-primary" name="submit" value="Update">
</form>

