<br />

<img src="/Models/pexels-ash-376464.jpg" width="100%" height="60%">
<br /><br />
<a href="/Home/LoginRestaurant" class="btn btn-primary">Log In</a>
<a href="/home/CreateRestaurant" class="btn btn-primary">Register</a>
