<br />

<img src="/Models/pexels-ash-376464.jpg" width="100%" height="60%">
<br />
<br />
@{ if (Session["user"] == null)
    {
        <a href="/Restaurant/LoginRestaurant" class="btn btn-primary">Log In as restaurant</a>
        <a href="/Restaurant/CreateRestaurant" class="btn btn-primary">Register as Restaurant</a>

        <a href="/Employee/LoginEmployee" class="btn btn-primary">Log In as Employee</a>
        <a href="/Employee/CreateEmployee" class="btn btn-primary">Register as Employee</a>
    }
}

