<br />
<h2>Sign Up as Employee</h2>
<br />
<form method="post">
    Name: <input class="form-control" name="name" /><br />
    Password: <input type="password" class="form-control" name="password" />
    Phone: <input class="form-control" name="phone" />
    Email: <input class="form-control" name="email" />
 <input type="hidden" name="role" value="emp" />
    <br />
    <input type="submit" class="btn btn-primary" name="submit" value="Register">
</form>
