<br />
<h2>Donate your food</h2>
<br />
<form method="post">
    Name: <input class="form-control" name="name" />
    Quantity: <input class="form-control" name="quantity" />
    Quality: <input class="form-control" name="quality" />
    <input type="hidden" name="restaurantID" value="@Model.id" />
    <br />
    <input type="submit" class="btn btn-primary" name="submit" value="Register">
</form>
<br />


